body {
  background-color: #f0f0f0;
  color: #333;
}

.container {
  max-width: 400px;
}

.section {
  margin-top: 30px;
  border-radius: 10px;
}
.section h3 {
  margin-top: 0;
  border-bottom: 1px solid #aaa;
}
button {
  margin: 5px 0;
}
